html, body {
    height: 100%;
    background-color: #f0f0f0;
}
.main-logo{
  max-height: 57px;
}
a:hover{text-decoration:none;}
#map_wrapper {
  position: absolute;
  top:0;
  bottom:0;
  left:250px;
  right:0;
}

#sidebar{
  position:absolute;
  background-color: #ffffff;
  /* background-color: #0986c8; */
  top:0;
  bottom:0;
  left:0;
  width:250px;
}
.sticky-sidebar{
  background: url(../img/bear.jpeg) no-repeat center center;
  background-size: cover;
  min-height: 100%;
  height: 100%;
  /*width here is controlled by $('[data-clampedwidth]')*/
  color: #fdfdfd;
}
.img-bg-fill{
  /*OVERIDE THE IMG URL FOR SPECIFC USE*/
  background: url(../img/ocean.jpeg) no-repeat center center;
  background-size: cover;
  min-height: 100%;
  height: 100%;
  /*width here is controlled by $('[data-clampedwidth]')*/
  color: #fdfdfd;
}
.bk{
  background-color: #fff8f0;
}
.filter-ctrl {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 180px;
}
/* .toggleLayerPicker: checked + span{font-weight: bold;} */

input[type="radio"]:checked+label { font-weight: bold; }
#layerpicker {
    /* background: #fff; */
    position: relative;
    z-index: 1;
    top: 10px;
    left: 10px;
    font-family: 'Open Sans', sans-serif;
}
#layerpicker a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    /* border-bottom: 1px solid rgba(0,0,0,0.25); */
    text-align: center;
}
#layerpicker a:last-child {
    border: none;
}
#layerpicker a:hover {
    background-color: #f8f8f8;
    color: #404040;
}
#layerpicker a.active {
    background-color: #3887be;
    color: #ffffff;
}
#layerpicker a.active:hover {
    background: #3074a4;
}
#nav-header{
  background: #0986c8;
}
@media (min-width: 992px){
  /*medium screen sizes*/
  .parent{
    display: table;
    width: 100%;
  }
  .parent >div{
    display: table-cell;
    float: inherit; /*???????*/

  }
  .no-left-pad{
      padding-left:0;
  }
  .post-preview-container{

    margin: 30px 0px;
    padding: 20px;
    background-color:#f0f0f0;
  }
  .post-preview-container:hover{
    background-color: #dedede;
  }
}
footer{
  margin: 30px 0px;
  padding: 20px;
}
