html, body {
    background-color: #f0f0f0;
}
.main-logo{
  max-height: 57px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#layerpicker {
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: #ffffff;
    transition: all 0.3s;
}

#layerpicker.active {
    margin-left: -250px;
}

#layerpicker .layerpicker-header {
    background: #0986c8;
}

.layerpicker input:active +.toggle-button{opacity: .9;}
.layerpicker input:checked +.toggle-button{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.toggle-button{
    cursor:pointer;
    display:inline-block;
    width: 100%;
    height: 30px;
    padding: 2px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.toggle-button:hover{
  /* background-color: #0986c8; */
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* https://codepen.io/ksycz/pen/bMJyBP */
pre { color: crimson; }
.hide { display: none; }
input[type="checkbox"] + .fa,
input[type="checkbox"] + label > .fa,
input[type="radio"] + .fa,
input[type="radio"] + label > .fa { cursor: pointer; }

/* Unchecked */
input[type="checkbox"] + .fa-eye:before,
input[type="checkbox"] + label > .fa-eye:before,
input[type="radio"] + .fa-eye:before,
input[type="radio"] + label > .fa-eye:before { content: "\f070"; } /* fa-eye-slash */

/* Checked */
input[type="checkbox"]:checked + .fa-eye:before,
input[type="checkbox"]:checked + label > .fa-eye:before,
input[type="radio"]:checked + .fa-eye:before,
input[type="radio"]:checked + label > .fa-eye:before { content: "\f06e"; }



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#map_wrapper {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#map_wrapper.active {
    width: 100%;
}
.custom-map-ctrl-top-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

}
.custom-map-ctrl-group{
  margin: 10px;
  float: left;
}

.tglBtn{
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  display: none;
}
.tglBtn.active{
  opacity: 1;
  display: block;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #layerpickerCollapse span {
        display: none;
    }
}
