html, body {
    height: 100%;
    background-color: #f0f0f0;
}
.main-logo{
  max-height: 57px;
}
a:hover{text-decoration:none;}
#map_wrapper {
  position: absolute;
  top:0;
  bottom:0;
  left:250px;
  right:0;
}

#sidebar{
  position:absolute;
  background-color: #ffffff;
  /* background-color: #0986c8; */
  top:0;
  bottom:0;
  left:0;
  width:250px;
}
.sticky-sidebar{
  background: url(../img/bear.jpeg) no-repeat center center;
  background-size: cover;
  min-height: 100%;
  height: 100%;
  /*width here is controlled by $('[data-clampedwidth]')*/
  color: #fdfdfd;
}
.img-bg-fill{
  /*OVERIDE THE IMG URL FOR SPECIFC USE*/
  background: url(../img/ocean.jpeg) no-repeat center center;
  background-size: cover;
  min-height: 100%;
  height: 100%;
  /*width here is controlled by $('[data-clampedwidth]')*/
  color: #fdfdfd;
}
.bk{
  background-color: #fff8f0;
}
.filter-ctrl {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 180px;
}
/* .toggleLayerPicker: checked + span{font-weight: bold;} */

/* input[type="radio"]:checked+label { font-weight: bold; } */
.layerpicker input:active +.toggle-button{opacity: .9;}
.layerpicker input:checked +.toggle-button{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.toggle-button{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:85%;
    height:30px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.toggle-button:hover{
  background-color: #0986c8;
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* https://codepen.io/ksycz/pen/bMJyBP */
pre { color: crimson; }
.hide { display: none; }
.fa-exclamation-triangle { color: goldenrod; }

input[type="checkbox"] + .fa,
input[type="checkbox"] + label > .fa,
input[type="radio"] + .fa,
input[type="radio"] + label > .fa { cursor: pointer; }

/* Unchecked */
input[type="checkbox"] + .fa-check-circle:before,
input[type="checkbox"] + label > .fa-check-circle:before,
input[type="radio"] + .fa-check-circle:before,
input[type="radio"] + label > .fa-check-circle:before { content: "\f111"; } /* .fa-circle */
input[type="checkbox"] + .fa-eye:before,
input[type="checkbox"] + .fa-check-circle-o:before,
input[type="checkbox"] + label > .fa-eye:before,
input[type="checkbox"] + label > .fa-check-circle-o:before,
input[type="radio"] + .fa-eye:before,
input[type="radio"] + label > .fa-eye:before,
input[type="radio"] + .fa-check-circle-o:before,
input[type="radio"] + label > .fa-check-circle-o:before { content: "\f070"; } /* fa-eye-slash */
input[type="radio"] + .fa-circle:before,
input[type="radio"] + label > .fa-circle:before { content: "\f1db"; } /* .fa-circle-thin */
input[type="checkbox"] + .fa-check:before,
input[type="checkbox"] + .fa-check-square-o:before,
input[type="checkbox"] + label > .fa-check:before,
input[type="checkbox"] + label > .fa-check-square-o:before { content: "\f096"; } /* .fa-square-o */
input[type="checkbox"] + .fa-check-square:before,
input[type="checkbox"] + label > .fa-check-square:before { content: "\f0c8"; } /* .fa-square */

/* Checked */
input[type="checkbox"]:checked + .fa-check:before,
input[type="checkbox"]:checked + label > .fa-check:before { content: "\f00c"; }
input[type="checkbox"]:checked + .fa-check-circle:before,
input[type="checkbox"]:checked + label > .fa-check-circle:before,
input[type="radio"]:checked + .fa-check-circle:before,
input[type="radio"]:checked + label > .fa-check-circle:before { content: "\f058"; }
input[type="checkbox"]:checked + .fa-check-circle-o:before,
input[type="checkbox"]:checked + label > .fa-check-circle-o:before,
input[type="radio"]:checked + .fa-check-circle-o:before,
input[type="radio"]:checked + label > .fa-check-circle-o:before { content: "\f05d"; }
input[type="checkbox"]:checked + .fa-check-square:before,
input[type="checkbox"]:checked + label > .fa-check-square:before { content: "\f14a"; }
input[type="checkbox"]:checked + .fa-check-square-o:before,
input[type="checkbox"]:checked + label > .fa-check-square-o:before { content: "\f046"; }
input[type="radio"]:checked + .fa-circle:before,
input[type="radio"]:checked + label > .fa-circle:before { content: "\f111"; }
input[type="checkbox"]:checked + .fa-eye:before,
input[type="checkbox"]:checked + label > .fa-eye:before,
input[type="radio"]:checked + .fa-eye:before,
input[type="radio"]:checked + label > .fa-eye:before { content: "\f06e"; }

#layerpicker {
    /* background: #fff; */
    position: relative;
    z-index: 1;
    top: 10px;
    left: 10px;
    font-family: 'Open Sans', sans-serif;
}
#layerpicker a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    /* border-bottom: 1px solid rgba(0,0,0,0.25); */
    text-align: center;
}
#layerpicker a:last-child {
    border: none;
}
#layerpicker a:hover {
    background-color: #f8f8f8;
    color: #404040;
}
#layerpicker a.active {
    background-color: #3887be;
    color: #ffffff;
}
#layerpicker a.active:hover {
    background: #3074a4;
}
#nav-header{
  background: #0986c8;
}
@media (min-width: 992px){
  /*medium screen sizes*/
  .parent{
    display: table;
    width: 100%;
  }
  .parent >div{
    display: table-cell;
    float: inherit; /*???????*/

  }
  .no-left-pad{
      padding-left:0;
  }
  .post-preview-container{

    margin: 30px 0px;
    padding: 20px;
    background-color:#f0f0f0;
  }
  .post-preview-container:hover{
    background-color: #dedede;
  }
}
footer{
  margin: 30px 0px;
  padding: 20px;
}
