html, body {
    height: 100%;
    background-color: #f0f0f0;
}
a:hover{text-decoration:none;}
.sticky-sidebar{
  background: url(../img/bear.jpeg) no-repeat center center;
  background-size: cover;
  min-height: 100%;
  height: 100%;
  /*width here is controlled by $('[data-clampedwidth]')*/
  color: #fdfdfd;
}
.img-bg-fill{
  /*OVERIDE THE IMG URL FOR SPECIFC USE*/
  background: url(../img/ocean.jpeg) no-repeat center center;
  background-size: cover;
  min-height: 100%;
  height: 100%;
  /*width here is controlled by $('[data-clampedwidth]')*/
  color: #fdfdfd;
}
.bk{
  background-color: #fff8f0;
}


@media (min-width: 992px){
  /*medium screen sizes*/
  .parent{
    display: table;
    width: 100%;
  }
  .parent >div{
    display: table-cell;
    float: inherit; /*???????*/

  }
  .no-left-pad{
      padding-left:0;
  }
  .post-preview-container{

    margin: 30px 0px;
    padding: 20px;
    background-color:#f0f0f0;
  }
  .post-preview-container:hover{
    background-color: #dedede;
  }
}
footer{
  margin: 30px 0px;
  padding: 20px;
}
